<h1>Shopping Cart</h1>

<div>
    <span>You have 8 Item in shopping Cart</span>
    <button>Clear Shopping Cart</button>
</div>

<div>
    <table>
        <thead>
            <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="#"></td>
                <td>Proudct Name</td>
                <td>Quantity Compoent</td>
                <td>Current Quanity</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>Total Amount</td>
            </tr>
        </tbody>
    </table>
</div>

<button>Place Order</button>