<h2>Shipping</h2>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="address-line1">Address</label>
        <input type="text" placeholder="Line1">
    </div>
    <div class="form-group">
        <label for="address-line2">Address</label>
        <input type="text" placeholder="Line2">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" >
    </div>

    <button class="btn">Place Order</button>
    

</form>
